{{> layout/header}}

<div class="container mt-3">
    <form action="/product/update" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" value={{product.id}} name="id" >
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" value={{product.name}} name="name">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" value={{product.price}} name="price">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" value={{product.qty}} name="qty">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" value={{product.seller.id}} name="sellerId">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" value="{{product.createdAt}}" name="createdAt" disabled>
        </div>
        <button type="submit" class="btn btn-primary">UPDATE</button>
        <!--        input를 하게 하는 버튼으로, type이 submit이면 자동으로 폼이 제출되어 POST의 역할을 한다. -->
    </form>
    <form action="/product/delete" method="post">
        <!-- action의 기능을 한다 -->
        <input type="hidden" class="form-control" value={{product.id}} name="id">
        <!-- 해당 id에 대한 값에 대해 DELETE한다. -->
        <button type="submit" class="btn btn-danger">DELETE</button>
    </form>
</div>
</body>
</html>