{{> layout/header}}
<div class="container mt-3">
    <form action="/product/insert" method="post" enctype="application/x-www-form-urlencoded">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Enter 상품명" value="" name="name">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter 상품가격" value="" name="price">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter 상품재고" value="" name="qty">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter 판매자번호" value="" name="sellerId">
        </div>
        <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
</div>

</body>
</html>