{{> /layout/header}}
<div class="container mt-3">
    <!--select 결과가 나올, table이 필요하다.-->
        <table class="table table-hover">
        <thead>
        <tr>
            <th>상품번호</th>
            <th>상품명</th>
            <th>상품가격</th>
            <th>상품재고</th>
            <th>등록날짜</th>
            <th>판매자번호</th>
            <th>판매자명</th>
        </tr>
        </thead>
        <tbody>
           {{#productList}}
                <!-- ${} 안에 들어가는 것은 name명 쓰기-->
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/product/{{id}}"> {{name}}</a></td>
                    <td>{{price}}원</td>
                    <td>{{qty}}개</td>
                    <td>{{createdAt}}</td>
                    <td>{{seller.id}}</td>
                    <td><a href="/seller/product/{{seller.id}}"> {{seller.name}}</a></td>
<!--                    seller.id에 맞춰서 출력이 되어야 된다.-->
                </tr>
            {{/productList}}
        </tbody>
    </table>
</div>
</body>
</html>