{{> layout/header}}

<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>판매자번호</th>
            <th>판매자명</th>
            <th>판매 중인 상품</th>
            <th>상품가격</th>
            <th>상품재고</th>
        </tr>
        </thead>
        <tbody>
        {{#sellerToProductList}}
            <tr>
                <td>{{seller.id}}</td>
                <td>{{seller.name}}</td>
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td>{{qty}}</td>
            </tr>
        {{/sellerToProductList}}
        </tbody>
    </table>
</div>
</body>
</html>